@import "tailwindcss";

@theme {
  --color-dark-1: #1C1F2E;
  --color-dark-2: #161925;
  --color-dark-3: #252A41;
  --color-dark-4: #1E2757;
  
  --color-blue-1: #0E78F9;
  
  --color-sky-1: #C9DDFF;
  --color-sky-2: #ECF0FF;
  --color-sky-3: #F5FCFF;
  
  --color-orange-1: #FF742E;
  --color-purple-1: #830EF9;
  --color-yellow-1: #F9A90E;
  
  @keyframes accordion-down {
    from { height: 0; }
    to { height: var(--radix-accordion-content-height); }
  }
  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); }
    to { height: 0; }
  }
}

/* Custom Utilities */
.bg-hero {
  background-image: var(--background-image-hero);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg-video {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.1) 100%);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.bg-glow {
  background: radial-gradient(circle at 50% 50%, rgba(14, 120, 249, 0.1) 0%, rgba(28, 31, 46, 0) 50%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-dark-2 text-white;
}

/* ======== stream css overrides ======== */
.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notification {
  color: white;
}

.str-video__participant-list {
  background-color: #1c1f2e;
  padding: 10px;
  border-radius: 10px;
  color: white;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism2 {
  background: rgba(18, 17, 17, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

/* ==== clerk class override ===== */

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}

.cl-logoBox {
  height: 40px;
}
.cl-dividerLine {
  background: #252a41;
  height: 2px;
}

.cl-socialButtonsIconButton {
  border: 3px solid #565761;
}

.cl-internal-wkkub3 {
  color: white;
}
.cl-userButtonPopoverActionButton {
  color: white;
}

/* =============================== */

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

/* animation */

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}

.glassmorphism-dark {
  background: rgba(28, 31, 46, 0.90);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
